<meta name='description' content='QCObjects New App'>
<meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>
<link rel='canonical' href='https://quickcorp.cl/'>
<link rel='manifest' href='manifest.json'>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='application-name' content='QuickCorp'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='apple-mobile-web-app-title' content='QuickCorp'>
<link rel='icon' sizes='192x192' href='/img/icons/icon-192x192.png'>
<link rel='apple-touch-icon' href='/img/icons/icon-192x192.png'>
<meta name='msapplication-TileImage' content='/img/icons/icon-144x144.png'>
<meta name='msapplication-TileColor' content='rgb(106,229,245)'>
<meta name='theme-color' content='rgb(106,229,245)'>
<meta property='og:title' content='QuickCorp'>
<meta property='og:type' content='website'>
<meta property='og:image' content='https://quickcorp.cl/img/icons/icon-192x192.png'>
<meta property='og:url' content='https://quickcorp.cl/'>
<meta property='og:description' content='QuickCorp'>
<meta name='twitter:card' content='summary'>
<meta name='twitter:url' content='https://quickcorp.cl/'>
<meta name='twitter:title' content='QuickCorp'>
<meta name='twitter:description' content='QuickCorp'>
<meta name='twitter:image' content='https://quickcorp.cl/img/icons/icon-192x192.png'>
<meta name='twitter:creator' content='@jeanmachuca'>
