<span class="closebtn" onclick="GLOBAL.sideNavController.toggle()"></span>
<div class="navcontent">
  <details>
    <summary>Main</summary>
    <ul>
      <li><a onclick="GLOBAL.sideNavController.close()" href="#">Main</a></li>

    </ul>
  </details>
<details>
    <summary>Register</summary>
    <ul>
      <li><a onclick="GLOBAL.sideNavController.close();return true;" href="#signup">Ask for a quote</a></li>
    </ul>
</details>
<details>
    <summary>Related</summary>
    <ul>
      <li><a onclick="GLOBAL.sideNavController.close()" href="#blog">Blog</a></li>
      <li><a onclick="GLOBAL.sideNavController.close()" href="https://qcobjects.com">QCObjects</a></li>
    </ul>
  </details>
</div>
